@import "../../../assets/scss/variables.scss";

.main-cards {
  width: 100%;
  margin-bottom: 30px;
  @media (min-width: 1200px)  {
    margin-bottom: 35px;
  }
  @media (max-width: 768px)  {
    max-width: 348.11px;
  }

  .cards-image {
    position: relative;
    z-index: -9;
    &::before {
      content: "";
      //background-image: url("../../../assets/images/Blog Image Template.png");
      // background-color: red;
      position: absolute;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 175.77px;
      z-index: 9;
      background-size: cover;
    }
    .img {
      width: 100%;
      height: 175.77px;
    }
  }

  .description {
    .des-top-about {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-top: 22.45px;

      .about-btn {
        margin-right: 15px;
        min-height: 29.47px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $text-color-3;
        box-sizing: border-box;
        border-radius: 15.5px;
        color: $text-color-3;
        background: $text-color-1;
        padding: 0 15px;
        font-weight: 500;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.410462px;
        white-space: nowrap;
        text-decoration: none;

        margin-bottom: 8px;
        @media (max-width: 393px)  {
          margin-bottom: 0;
        }
      }
      .about-man {
        line-height: 11.34px;
        color: $text-color-2;
        margin-left: 0px;
        padding-top: 4px;
        white-space: nowrap;
      }
    }
    .abouts {
      margin-top: 21.5px;
      .ab-heading-1 {
        color: $text-color-2;
        line-height: 24px;
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 0.574647px;
        margin-bottom: 9px;
      }
      .sub-heading {
        color: $text-color-2;
        margin-bottom: 22px;
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.574647px;
      }
      .blog-para2 {
        color: $text-color-2;
        display: flex;
        align-items: center;
      }
    }
  }
}

// Subscribe card

.main-sub-card {
  max-width: 346.71px;
  background: $text-color-2;
  padding: 24.89px 30.56px 30.42px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media (max-width: 768px)  {
    padding: 30.87px 37.9px 36.48px;
  }
  .input-hero {
    width: 100%;
    min-height: 39.28px;
    margin-bottom: 12.63px;

    .inputs {
      width: 100%;
      border: 1px solid $text-color-1;
      box-sizing: border-box;
      border-radius: 4px;
      color: $text-color-1;
      background: transparent;
      padding: 6px 13px;
      text-decoration: none;
      outline: none;
    }
    ::placeholder {
      color: $text-color-1;
      opacity: 1; /* Firefox */
      text-align: center;
    }
  }
  .top-img {
    width: 87.22px;
    margin-bottom: 25.85px;
  }
  .top-heading {
    margin-bottom: 15px;
    color: $text-color-3;
    line-height: 20px;
  }
  .sub-heading {
    color: $text-color-1;
    margin-bottom: 15px;
    letter-spacing: 2.451508px;
    text-align: center;
    text-transform: uppercase;
  }
  .name-img {
    width: 191.78px;
    margin-bottom: 76.9px;
  }
  .btn-1 {
    width: 100%;
    min-height: 39.29px;
    margin: 33px 0 12.63px;
    @media (max-width: 768px)  {
      width: 270.91px;
    }
  }
  .btn-2 {
    width: 100%;
    min-height: 39.29px;
    @media (max-width: 768px)  {
      width: 270.91px;
    }
  }
}

.cookies-policy {
  position: fixed;
  background: #ffffffe0;
  width: 100%;
  bottom: 0;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);

  .content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 21px 32px 19px 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    .link-decs {
      display: flex;
      align-items: center;
      @media screen and (max-width: 992px) {
        display: block;
      }
    }
    .cookies-link {
      margin-left: 5px;
      color: #2870ef;
      font-size: 16px;

    }

    p {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 27px;
      margin: 0;
      span {
        cursor: pointer;
        color: $text-color-3;
        text-decoration: underline;
      }
    }

    h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 24px;
      padding-bottom: 8px;
      /* or 133% */

      letter-spacing: 0.574647px;
      text-transform: uppercase;

      color: #000000;
    }
    .dual {
      display: flex;
      flex-wrap: wrap;
      button {
        @media screen and (max-width: 1200px) {
          margin-left: 0;
        }
        margin-left: 16px;
        width: 208.24px;
        height: 39.38px;
        @media (max-width: 992px) {
          margin-left: 0px;
          margin-top: 20px;
        }
      }
    }
  }
}
