//  colors

// colors
$accent: #ee4a4e;
$accent-hover: #e02424;
$color-1: #3b374f;
$color-2: #fdbd2c;
$color-3: #f8fdff;
$color-4: #f5fbff;
$color-5: #575768;
$color-6: #e6f5ff;
$color-7: #2970f1;

// font-weights
$sw-font-weight-xs: 300;
$sw-font-weight-sm: 500;
$sw-font-weight-md: 600;
$sw-font-weight-lg: 700;

// background colors
/* Background */

$background-1: radial-gradient(100% 100% at 50% 0%, #fcfeff 0%, #e5f4ff 100%);
$background-2: radial-gradient(100% 100% at 50% 0%, #f4fbff 0%, #e5f4ff 100%);
$background-3: radial-gradient(100% 100% at 50% 0%, #2d99ff 0%, #2970f1 100%);
$background-4: radial-gradient(100% 100% at 50% 0%, #a301df 0%, #8301df 100%);
$background-5: linear-gradient(270deg, #2d9aff 0%, #2970f1 100%);
$background-6: radial-gradient(100% 100% at 50% 0%, #fcfeff 0%, #e5f4ff 100%);
$shadow: 0px 2px 14px -3px #bbbefe;
$border: rgba(151, 151, 151, 0.278199);

// text color
$text-color-1: #ffffff;
$text-color-2: #37384f;
$text-color-3: #2870ef;
$text-color-4: #eda840;
$text-color-5: #e5f4ff;
$text-color-6: #790fd6;
$text-color-7: #282828;
$text-color-8: #979797;
$text-color-9: #d8d8d8;
$text-color-10: #c5c8ce; // see to merge 9 and 10
$text-color-11: #f8f8f8;
$text-color-12: #f2f2f3;
$text-color-13: #cdcdcd;

// text sizes

// Used for responsive mixins


//Breakpoints for mixins


//Responsive mixin for styles

