@import "../../../assets/scss/variables.scss";

.feature-cards-container {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 0 20px;
  @media (max-width: 768px)  {
    //margin-top: -200px;
    padding: 0 62px;
  }
  .feature-cards-content {
    margin-top: 0.5em;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    @media (max-width: 768px)  {
      padding-top: 37px;
    }
    .animated {
      display: flex;
      .feature-card1 {
        margin-bottom: 30px;
        text-align: left;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        .feature-img {
          height: 30px;
          width: 30px;
        }
        div {
          margin-left: 16px;
          .feature-card-heading {
            font-weight: 500;
            font-size: 14px;
          }
          .feature-card-para {
            line-height: 22px;
            font-size: 12px;
            margin-top: 10px;
            font-weight: 300;
          }
        }
      }
    }
    @media (max-width: 768px)  {
      .animated {
        flex: 0 1 45%;
        justify-content: center;
        .feature-card1 {
          margin-bottom: 60px;
          .feature-img {
            height: 74px;
            width: 74px;
          }
          div {
            margin-left: 16px;
            .feature-card-heading {
              font-weight: 500;
              font-size: 16px;
            }
            .feature-card-para {
              line-height: 22px;
              font-size: 14px;
            }
          }
        }
      }
    }
    @media (max-width: 1200px)  {
      .animated {
        display: flex;
        flex: 0 1 28%;
      }
    }
  }
}
.in-pricing {
  @media (max-width: 768px)  {
    margin-top: -200px;
  }
}
