@import "../../assets/scss/variables.scss";
.main-sub-card {
    border-radius: 6px;
    width: 291px;
    height: 410px;
    background: $text-color-2;
    padding: 24.89px 30.56px 30.42px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 20px;
    @media (max-width: 393px)  {
      padding: 26px 30px;
      min-width: 403px;
      height: 520px;
    }

    .input-hero {
      width: 100%;
      min-height: 39.28px;
      margin-bottom: 12.63px;
  
      .inputs {
        width: 100%;
        border: 1px solid $text-color-1;
        box-sizing: border-box;
        border-radius: 4px;
        color: $text-color-1;
        background: transparent;
        padding: 6px 13px;
        text-decoration: none;
        outline: none;
      }
      ::placeholder {
        color: $text-color-1;
        opacity: 1; /* Firefox */
        text-align: center;
      }
    }

    img:first-of-type {
      width: 32px;
      height: 29.6px;
      margin-bottom: 15px;
    }
    h6 {
      margin-bottom: 15px;
      color: $text-color-3;
      line-height: 20px;
      font-size: 18px;
      letter-spacing: 0.57px;
    }
    p {
      color: $text-color-1;
      margin-bottom: 15px;
      letter-spacing: 0.78px;
      text-align: center;
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 300;
    }
    img:last-of-type {
      width: 191.78px;
    }
    .btn-1 {
      width: 100%;
      min-height: 39.29px;
      margin: 33px 0 12.63px;
      @media (max-width: 393px)  {
        width: 270.91px;
      }
    }
    .btn-2 {
      width: 100%;
      min-height: 39.29px;
      @media (max-width: 393px)  {
        width: 270.91px;
      }
    }
    @media (max-width: 393px)  {
      img:first-of-type {
        width: 99.50px;
        height: 79.25px;
        margin-bottom: 22px;
      }
      h6 {
        font-size: 20px;
        margin-bottom: 20px;
      }
      p {
        font-size: 28px;
        margin-bottom: 34px;
      }
      img:last-of-type {
        width: 215.9px;
        height: 35.87px;
      }
    }
  }